<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <h4 class="border-bottom border-gray mt-4 text-center">
        <i class="fas fa-user-friends"></i> フォロー一覧
      </h4>
      <%= render '/relationships/index', users: @users %>
    </div>
  </div>
</div>