<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <h5 class="border-bottom border-gray mt-4 font-weight-bold text-center">
        検索結果
      </h5>
      <nav class="navbar-expand mt-2">
      </nav>
      <%= render '/posts/index', posts: @posts %>
    </div>
  </div>
</div>